@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
html, body {
  background-color: #ffffff;
  margin:0;
font-family: 'Raleway', sans-serif;
}

h1.headline {
  color: #0C0A0A;
  margin-bottom: 48px;
  font-weight: 700;
}

p {
  font-size:16px;
  font-weight:400;
}

.hero {
  width:100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding:64px 0;
}

.profile {
  width:160px;
  height:160px;
  margin-bottom: 24px;
}

.social {
  width: 24px;
  height: 24px;
  opacity: 60%;
  transition: 0.5s all ease;
  margin-left: 16px;
}

.social:hover {
  opacity: 100%;
  transform: scale(1.2);
}

.nav-bar {
  width:100%;
  display:flex;
  justify-content: flex-end;
  padding:24px;
  align-items: center;
}

#section-header {
  width:100%;
  background-color: #fafafa;
}

#resume {
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding:48px;
  background-color: #fafafa;
}

#nft {
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding:48px 0;
}

.opensea {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
  width: calc(25% - 64px);
}

.artwork {
  width: 100%;
  display:flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 48px;
  justify-content: space-between;
}

.section-headline {
  margin-bottom: 48px
}

.experience {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1024px;
}

.item {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width:100%;
  margin-bottom: 48px;
}

.item-label {


}

a {
  color: black;
  text-decoration: none;
}

.education {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1024px;
}
