@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
html, body {
  margin:0;
font-family: 'Raleway', sans-serif;
}

h1.headline {
  color: #0C0A0A;
  margin-bottom: 48px;
  font-weight: 700;
}

p {
  font-size:16px;
  font-weight:400;
}

.hero {
  width:100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding:64px 0;
  background-color: #fafafa;
}

.profile {
  width:154px;
  height:154px;
  padding-top: 64px;
}

.twitter {
  width: 24px;
  height: 24px;
}

.nav-bar {
  width:100%;
  display:flex;
  justify-content: flex-end;
  padding:24px;
  align-items: center;
}
